p {
  margin-bottom: 10px;
}

.top-nav-div {
  position: relative;
  z-index: 999;
}

.top-nav-cont {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 75px;
  max-width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.top-nav-links-div {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.link-block {
  padding: 17px;
  text-decoration: none;
}

.text-block {
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 3px;
}

.top-nav-links-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.top-nav-social-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link {
  margin-right: 20px;
  font-family: Poppins, sans-serif;
  color: #fff;
  text-decoration: none;
  text-transform: none;
  text-shadow: 1px 1px 6px #000;
}

.link.last {
  margin-right: 20px;
}

.link.last.footer {
  color: hsla(0, 0%, 100%, 0.7);
}

.link.footer {
  margin-bottom: 10px;
  color: hsla(0, 0%, 100%, 0.7);
}

.main-bg-sec {
  margin-top: -75px;
}

.main-bg-div {
  height: 650px;
  background-image: url('../images/lovely_view_of_mount_kailash.jpg');
  background-position: 50% 90%;
  background-size: cover;
  background-repeat: no-repeat;
}

.social-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 90px;
  background-color: #fc5b62;
  box-shadow: 1px 1px 4px -2px #000;
  font-family: Icofont, sans-serif;
  color: #fff;
  text-decoration: none;
}

.social-links.last {
  margin-right: 10px;
}

.main-bg-cont {
  position: relative;
  height: 100%;
  max-width: 80%;
}

.main-bg-cont-div {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  padding-top: 35px;
  padding-bottom: 35px;
}

.heading {
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 36px;
  line-height: 43.2px;
  font-weight: 500;
  text-shadow: 1px 1px 6px #000;
}

.paragraph {
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 500;
  text-shadow: 1px 1px 6px #000;
}

.button {
  margin-top: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 6px;
  background-color: #fc5b62;
  box-shadow: 1px 1px 4px -2px #000;
  font-family: Poppins, sans-serif;
  line-height: 14px;
  font-weight: 600;
}

.main-bg-destinations {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-bg-main-dest-div {
  width: 320px;
  height: 160px;
  margin-right: 30px;
  padding-left: 0px;
  border-radius: 6px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url('../images/lovely_view_of_mount_kailash.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/lovely_view_of_mount_kailash.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  box-shadow: 4px 4px 16px -2px #000;
}

.heading-2 {
  margin-top: 0px;
  padding-top: 20px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 21px;
  line-height: 25.2px;
  font-weight: 500;
  text-transform: uppercase;
}

.paragraph-2 {
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 12px;
  line-height: 14.4px;
  font-weight: 500;
  text-transform: uppercase;
}

.main-bg-main-dest-div-2 {
  width: 320px;
  height: 160px;
  margin-right: 30px;
  padding-left: 20px;
  border-radius: 6px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/ITChKitaj_mahal_main.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/ITChKitaj_mahal_main.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  box-shadow: 4px 4px 16px -2px #000;
}

.main-bg-main-dest-div-2.last {
  margin-right: 0px;
  padding-left: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url('../images/dest_wiki_5433.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/dest_wiki_5433.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.main-bg-main-dest-div-3 {
  width: 320px;
  height: 160px;
  margin-right: 30px;
  padding-left: 0px;
  border-radius: 6px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url('../images/odsfqxharidwar.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/odsfqxharidwar.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  box-shadow: 4px 4px 16px -2px #000;
}

.main-bg-main-dest-div-4 {
  width: 320px;
  height: 160px;
  margin-right: 30px;
  padding-left: 0px;
  border-radius: 6px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url('../images/KEDARNATH.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/KEDARNATH.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  box-shadow: 4px 4px 16px -2px #000;
}

.home-enjoy-div {
  padding-top: 138.5px;
  padding-bottom: 138.5px;
  background-image: url('../images/bg_call_section.jpg');
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home-enjoy-cont {
  max-width: 80%;
}

.home-enjoy-cont-div {
  padding: 45px;
  background-color: #121921;
}

.heading-3 {
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 28px;
  line-height: 33.6px;
  font-weight: 500;
}

.paragraph-3 {
  margin-bottom: 30px;
  font-family: Poppins, sans-serif;
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 14px;
  line-height: 22.4px;
  font-weight: 500;
  text-transform: capitalize;
}

.button-2 {
  margin-top: 20px;
  padding: 15px 30px;
  border-radius: 90px;
  background-color: #fc5b62;
  box-shadow: 1px 1px 4px -2px #000;
  font-family: Poppins, sans-serif;
  line-height: 14px;
  font-weight: 600;
}

.footer-div {
  background-color: #121921;
}

.footer-cont {
  max-width: 80%;
  padding: 60px 15px 35px;
}

.text-block-2 {
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 13px;
  line-height: 20.8px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer-follow-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-block-copy {
  padding: 17px 17px 17px 0px;
  text-decoration: none;
}

.text-block-3 {
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 21.6px;
  font-weight: 500;
}

.footer-nav-links-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-column-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-column-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-column-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-contact-links-div {
  margin-bottom: 5px;
}

.link-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.text-block-4 {
  margin-right: 10px;
  margin-bottom: 5px;
  font-family: Icofont, sans-serif;
  color: hsla(0, 0%, 100%, 0.7);
}

.text-block-3-copy {
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 500;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.text-field {
  margin-bottom: 0px;
  border-style: none;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0.06);
  background-color: hsla(0, 0%, 100%, 0.06);
  font-family: Poppins, sans-serif;
}

.submit-button {
  background-color: #fc5b62;
  font-family: Poppins, sans-serif;
  font-weight: 600;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer-copyright-cont {
  position: static;
  display: block;
  max-width: 80%;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 1px solid hsla(0, 0%, 92.9%, 0.5);
}

.text-block-5 {
  position: static;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 13px;
  line-height: 20.8px;
  text-transform: uppercase;
}

.text-block-5.last {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.footer-cont-div {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}

.link-2 {
  color: hsla(0, 0%, 100%, 0.5);
}

.home-our-tours-div {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: rgba(85, 85, 85, 0.1);
}

.home-our-tours-cont {
  max-width: 80%;
}

.heading-4 {
  font-family: Poppins, sans-serif;
  color: #333;
  font-size: 32px;
  line-height: 38.4px;
  font-weight: 500;
  text-align: center;
}

.paragraph-4 {
  margin-bottom: 30px;
  font-family: Poppins, sans-serif;
  color: #555;
  font-size: 24px;
  line-height: 33.6px;
  font-weight: 300;
  text-align: center;
}

.home-our-tours-card-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.home-our-tours-card-div-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 28%;
  height: 580px;
  margin-right: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  box-shadow: 2px 2px 6px -2px #000;
}

.home-our-tours-card-div-1.last {
  margin-right: 0px;
}

.home-our-tours-card-div-1-top-div {
  position: relative;
  height: 220px;
  background-image: url('../images/lovely_view_of_mount_kailash.jpg');
  background-position: 45% 62%;
  background-size: auto;
  background-repeat: no-repeat;
}

.home-our-tours-card-div-1-bottom-div {
  padding: 25px;
}

.heading-5 {
  margin-bottom: 30px;
  font-family: Poppins, sans-serif;
  color: #fc5b62;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

.paragraph-5 {
  margin-bottom: 30px;
  font-family: Poppins, sans-serif;
  color: #555;
  font-size: 14px;
  line-height: 22.4px;
  font-weight: 400;
  text-transform: capitalize;
}

.paragraph-5.dup {
  margin-bottom: 0px;
}

.contact-for-price-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.text-block-4-copy {
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  font-family: Icofont, sans-serif;
  color: #555;
  font-size: 22px;
  line-height: 30px;
}

.homeour-tours-duration-book-div {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 15px;
}

.homeour-tours-duration-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.homeour-tours-book-div {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-4-copy-2 {
  margin-right: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-family: Icofont, sans-serif;
  color: #555;
  font-size: 22px;
  line-height: 30px;
}

.button-3 {
  margin-top: 0px;
  padding: 15px 30px;
  border-radius: 90px;
  background-color: #fc5b62;
  box-shadow: 1px 1px 4px -2px #000;
  font-family: Poppins, sans-serif;
  line-height: 14px;
  font-weight: 600;
}

.home-our-tours-card-div-1-top-div-2 {
  position: relative;
  height: 220px;
  background-image: url('../images/dest_wiki_5433.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-our-tours-card-div-1-top-div-3 {
  position: relative;
  height: 220px;
  background-image: url('../images/odsfqxharidwar.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.view-all-tours-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.link-tel {
  margin-right: 20px;
  font-family: Poppins, sans-serif;
  color: #fff;
  text-decoration: none;
  text-transform: none;
  text-shadow: 1px 1px 6px #000;
}

.link-tel.last {
  margin-right: 20px;
}

.link-tel.last.footer {
  color: hsla(0, 0%, 100%, 0.7);
}

.link-tel.footer {
  margin-bottom: 5px;
  color: hsla(0, 0%, 100%, 0.7);
}

.main-bg-main-dest-div-link-block {
  display: block;
  height: 100%;
  padding-top: 20px;
  padding-left: 20px;
  text-decoration: none;
}

.paragraph-5-link {
  display: block;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  color: #f65a60;
  font-size: 14px;
  line-height: 22.4px;
  font-weight: 700;
  text-decoration: none;
  text-transform: capitalize;
}

.paragraph-5-link.dup {
  margin-bottom: 0px;
}

.paragraph-5-link.icon {
  display: block;
  margin-left: 10px;
  font-family: Icofont, sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.tour-cards-view-details-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tour-cards-view-details-content-div {
  display: none;
  margin-bottom: 30px;
  padding-right: 10px;
}

.tours-card-rich-text p {
  font-family: Poppins, sans-serif;
  color: #555;
  line-height: 22.4px;
  text-transform: none;
}

.paragraph-5-link-cp-2 {
  display: block;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  color: #f65a60;
  font-size: 14px;
  line-height: 22.4px;
  font-weight: 700;
  text-decoration: none;
  text-transform: capitalize;
}

.paragraph-5-link-cp-2.dup {
  margin-bottom: 0px;
}

.paragraph-5-link-cp-2.icon {
  display: block;
  margin-left: 10px;
  font-family: Icofont, sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.tour-cards-view-details-content-div-copy-2 {
  display: none;
  margin-bottom: 30px;
  padding-right: 10px;
}

.tour-cards-view-details-content-div-copy-3 {
  display: none;
  margin-bottom: 30px;
  padding-right: 10px;
}

.paragraph-5-link-cp-3 {
  display: block;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  color: #f65a60;
  font-size: 14px;
  line-height: 22.4px;
  font-weight: 700;
  text-decoration: none;
  text-transform: capitalize;
}

.paragraph-5-link-cp-3.dup {
  margin-bottom: 0px;
}

.paragraph-5-link-cp-3.icon {
  display: block;
  margin-left: 10px;
  font-family: Icofont, sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.text-block-6 {
  position: absolute;
  left: auto;
  top: 5%;
  right: 0%;
  bottom: auto;
  display: inline-block;
  padding: 8px;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  background-color: #f65a60;
  box-shadow: -1px 1px 6px -2px #000;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.mobile-follow-us-fixed-div {
  display: none;
}

.top-nav-social-links-side {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-links-side {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 90px;
  background-color: #fc5b62;
  box-shadow: 1px 1px 4px -2px #000;
  font-family: Icofont, sans-serif;
  color: #fff;
  text-decoration: none;
}

.social-links-side.last {
  margin-right: 10px;
}

.mobile-nav-div {
  display: none;
}

@media screen and (min-width: 1920px) {
  .top-nav-cont {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
  }

  .top-nav-links-div {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: 0%;
  }

  .main-bg-cont {
    max-width: 80%;
  }

  .main-bg-main-dest-div {
    width: 360px;
    height: 200px;
  }

  .main-bg-main-dest-div-2.last {
    width: 360px;
    height: 200px;
  }

  .main-bg-main-dest-div-3 {
    width: 360px;
    height: 200px;
  }

  .main-bg-main-dest-div-4 {
    width: 360px;
    height: 200px;
  }

  .home-enjoy-cont {
    max-width: 80%;
  }

  .paragraph-3 {
    margin-bottom: 30px;
  }

  .footer-div {
    background-color: #121921;
  }

  .footer-cont {
    max-width: 80%;
    padding: 60px 15px 35px;
  }

  .text-block-2 {
    font-family: Poppins, sans-serif;
    color: #fff;
    font-size: 13px;
    line-height: 20.8px;
  }

  .paragraph-5 {
    margin-bottom: 30px;
  }

  .paragraph-5-link {
    margin-bottom: 30px;
  }

  .paragraph-5-link-cp-2 {
    margin-bottom: 30px;
  }

  .paragraph-5-link-cp-3 {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 991px) {
  .top-nav-div {
    display: none;
  }

  .top-nav-social-links {
    padding-left: 0px;
  }

  .link.footer {
    margin-bottom: 20px;
  }

  .main-bg-cont {
    max-width: 90%;
  }

  .main-bg-main-dest-div {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url('../images/lovely_view_of_mount_kailash.jpg');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/lovely_view_of_mount_kailash.jpg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }

  .main-bg-main-dest-div-2.last {
    display: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url('../images/dest_wiki_5433.jpg');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/dest_wiki_5433.jpg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }

  .main-bg-main-dest-div-3 {
    margin-right: 30px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url('../images/odsfqxharidwar.jpg');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/odsfqxharidwar.jpg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }

  .main-bg-main-dest-div-4 {
    display: block;
    margin-right: 0px;
  }

  .home-enjoy-cont {
    max-width: 90%;
  }

  .footer-cont {
    max-width: 100%;
  }

  .text-block-2 {
    margin-bottom: 10px;
  }

  .footer-follow-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .footer-column-2 {
    padding-left: 40px;
  }

  .footer-column-3 {
    padding-left: 40px;
  }

  .footer-copyright-cont {
    max-width: 100%;
  }

  .footer-cont-div {
    padding-right: 5px;
    padding-left: 5px;
  }

  .home-our-tours-cont {
    max-width: 90%;
  }

  .home-our-tours-card-div-1 {
    width: 30%;
  }

  .home-our-tours-card-div-1-bottom-div {
    padding: 10px;
  }

  .homeour-tours-duration-book-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .homeour-tours-book-div {
    position: static;
    margin-top: 20px;
  }

  .mobile-follow-us-fixed-div {
    position: fixed;
    left: auto;
    top: 30%;
    right: -10%;
    bottom: 0%;
    z-index: 2999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 20%;
    height: 300px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: rgba(18, 25, 33, 0.95);
  }

  .mobile-follow-us-fixed-div-inner-div-1 {
    position: relative;
    display: block;
    width: 50%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
  }

  .mobile-follow-us-fixed-div-inner-div-2 {
    width: 50%;
    height: 100%;
  }

  .text-block-7 {
    position: absolute;
    left: -80%;
    top: 45%;
    right: auto;
    bottom: auto;
    display: block;
    width: 200px;
    height: auto;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-family: Poppins, sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 11px;
    text-transform: uppercase;
  }

  .top-nav-social-links-side {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .social-links-side {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .social-links-side.last {
    margin-right: 0px;
    margin-bottom: 0px;
  }

  .text-block-8 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Icofont, sans-serif;
    color: #fff;
    font-size: 26px;
    line-height: 40px;
  }

  .mobile-nav-div {
    position: relative;
    z-index: 888;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .mobile-nav-menu-div {
    position: absolute;
    left: auto;
    top: 0%;
    right: 2%;
    bottom: 0%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .mobile-nav-menu-icon-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50px;
    height: 50px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 90px;
    background-color: #f65a60;
    font-family: Icofont, sans-serif;
    color: #fff;
    font-size: 30px;
    line-height: 30px;
    cursor: pointer;
  }

  .mobile-nav-links-div {
    position: absolute;
    left: 0%;
    top: 100%;
    right: 0%;
    bottom: 0%;
    z-index: 3200;
    display: none;
    height: 575px;
    background-color: rgba(246, 90, 96, 0.95);
  }

  .mobile-nav-links-cont {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    max-width: 80%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .mobile-nav-menu-icon-text-close {
    display: none;
    width: 50px;
    height: 50px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 90px;
    background-color: #f65a60;
    font-family: Icofont, sans-serif;
    color: #fff;
    font-size: 30px;
    line-height: 30px;
    cursor: pointer;
  }

  .mobile-nav-links-text {
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    padding: 10px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: #1c1b23;
    font-family: Poppins, sans-serif;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }

  .mobile-nav-links-inner-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .mobile-nav-links-inner-div-contact {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .mobile-nav-contact-icon-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50px;
    height: 50px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 90px;
    background-color: #1c1b23;
    font-family: Icofont, sans-serif;
    color: #fff;
    font-size: 30px;
    line-height: 30px;
  }

  .link-block-3 {
    text-decoration: none;
  }
}

@media screen and (max-width: 767px) {
  .main-bg-div {
    background-position: 45% 100%;
  }

  .main-bg-cont {
    max-width: 98%;
  }

  .main-bg-main-dest-div {
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
  }

  .main-bg-main-dest-div-2.last {
    display: none;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
  }

  .main-bg-main-dest-div-3 {
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
  }

  .main-bg-main-dest-div-4 {
    display: block;
    margin-right: 0px;
  }

  .footer-column-2 {
    margin-bottom: 20px;
    padding-left: 0px;
  }

  .footer-column-3 {
    padding-left: 0px;
  }

  .footer-column-1 {
    margin-bottom: 20px;
    padding-left: 0px;
  }

  .columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-copyright-cont {
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .footer-cont-div {
    padding-right: 5px;
    padding-left: 5px;
  }

  .home-our-tours-card-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .home-our-tours-card-div-1 {
    width: 60%;
    margin-right: 0px;
    margin-bottom: 40px;
  }

  .home-our-tours-card-div-1.last {
    margin-bottom: 0px;
  }

  .home-our-tours-card-div-1-bottom-div {
    padding-left: 15px;
  }

  .mobile-follow-us-fixed-div {
    right: -10%;
    width: 20%;
    height: 280px;
  }

  .text-block-7 {
    left: -120%;
  }
}

@media screen and (max-width: 479px) {
  .text-block {
    font-size: 22px;
  }

  .top-nav-social-links {
    padding-left: 0px;
  }

  .link.footer {
    margin-bottom: 10px;
  }

  .main-bg-destinations {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .main-bg-main-dest-div {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url('../images/lovely_view_of_mount_kailash.jpg');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/lovely_view_of_mount_kailash.jpg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }

  .main-bg-main-dest-div-2.last {
    display: none;
    margin-right: 0px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url('../images/dest_wiki_5433.jpg');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/dest_wiki_5433.jpg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }

  .main-bg-main-dest-div-3 {
    display: block;
    margin-right: 0px;
  }

  .main-bg-main-dest-div-4 {
    display: none;
  }

  .home-enjoy-cont {
    max-width: 90%;
  }

  .home-enjoy-cont-div {
    padding: 20px;
  }

  .text-block-2 {
    margin-bottom: 10px;
  }

  .footer-follow-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .footer-column-2 {
    margin-bottom: 20px;
    padding-left: 0px;
  }

  .footer-column-3 {
    padding-left: 0px;
  }

  .footer-column-1 {
    margin-bottom: 20px;
    padding-left: 0px;
  }

  .columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .text-block-5 {
    margin-bottom: 10px;
  }

  .text-block-5.last {
    position: static;
  }

  .footer-cont-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .home-our-tours-card-div-1 {
    width: 90%;
  }

  .link-tel.footer {
    margin-bottom: 10px;
  }

  .mobile-follow-us-fixed-div {
    right: -15%;
    width: 30%;
    background-color: transparent;
  }

  .mobile-follow-us-fixed-div-inner-div-1 {
    height: 15%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: rgba(18, 25, 33, 0.95);
  }

  .text-block-7 {
    left: -140%;
    display: none;
    margin-left: 0px;
  }

  .top-nav-social-links-side {
    padding-left: 0px;
    background-color: rgba(18, 25, 33, 0.95);
  }

  .mobile-nav-links-div {
    display: none;
  }

  .mobile-nav-links-cont {
    max-width: 98%;
    padding-left: 20px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

@font-face {
  font-family: 'Icofont';
  src: url('../fonts/icofont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}